@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(70deg, rgb(15, 6, 12), rgba(53, 4, 45, 0.996));
    /* color: white; */
    font-family: 'DynaPuff', sans-serif;
    background-size: cover;
}

.main {
    margin: 50px 30px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    width: 200px;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: white;
}
.movie-genre > button{
    /* background-color: rgba(230, 221, 228, 0.996); */
    color: black;
    font-family: 'DynaPuff', sans-serif;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    transition: 0.5s all ease;
}

.movie-genre button:hover{
    background-color: rgba(53, 4, 45, 0.996);
    color: white;
    font-family: 'DynaPuff', sans-serif;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    /* box-shadow: 2px 2px 2px 2px black; */
    box-shadow: rgba(93, 50, 77, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(155, 11, 136, 0.35) 0px -2px 6px 0px inset;
}
.bgImage {
    width: 90%;
    height: 10%;
    display: none;
    margin: 0 auto;
}

.bgImage img {
    width: 100%;
    margin: 0 auto;
    display: block;
    justify-content: center;
    height: 500px;
    /* z-index: -5; */
    box-shadow: 0px 7px 15px 10px  black;
}


form {
    display: flex;
    justify-content: space-between;
}
form input{
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 250px;
    background-color: rgba(53, 4, 45, 0.996);
    
}

input:focus{
    background-color: white;
}

form > button {
    margin-left: 0;
    width: 50px;
    background-color:white ;
    border: none;
    cursor: pointer;
    margin-left: -53px;
   
    
}

.fa-solid {
    color: rgba(53, 4, 45, 0.996);
    cursor: pointer;
}

.movieView{
    display: flex;
    flex-wrap: wrap;
    /* width: 90%; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.movies {
    cursor: pointer;

    /* z-index: 4; */
}

.movie-section h3{
    color: white;
    margin-left: 20px;
    font-size: 30px;
}


.movie {
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.996);
    margin: 20px auto;
    transition: 0.7s all ease;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.movie>img{
    width: 250px;
    height: 300px;
}

.movie:hover {
    transform: scale(1.1);
    box-shadow: 8px 10px 15px 10px black;
}

.title {
    color: rgba(49, 18, 49, 0.996);
    /* letter-spacing: 3px; */
    font-size: 18px;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    
}


.overview p {
    color: white;
    margin-top: 20px ;
    padding: 30px;
    display:block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    transition: .5s;
}



@media screen and (max-width:950px) {
    .navbar{
        flex-direction: column;
        width: 100%;
    }

    .movie-genre{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10px;
        
    }

    .bgImage {
        margin-top: 20px;
    }
    form{
        margin-top: 20px;
    }
}


@media screen and (max-width:550px) {
    .navbar {
        flex-direction: column;
    }
    .movie{
        width: 150px;
    }
    .movie>img{
        width: 150px;
        height: 200px;
    }
    .title {
        font-size: 14px;
    }
    .movie-genre button{
        font-size: 10px;
        padding: 5px;
        margin: 0 5px;
    }
}